<div id="favorite_<%= favorite.id %>">
  <h1><%= favorite.name %></h1>
  <img src='<%= user.pic %>'/>
  <p>favorite count: (users)</p>
  <p>link to user list</p>
</div>
<%= console.log('template favorite', favorite.id) %>
