<div id="user_<%= user.id %>">
  <h1><%= user.name %></h1>
  <img src='<%= user.pic %>'/>
  <p>favorite count: 0</p>
  <p><a href='#/user/<%= user.id %>/favorites/'>load favorites</a></p>
  <p>List of favorites</p>
</div>
