<div id="user_<%= user.id %>">
  <h1><%= user.name %></h1>
  <img src='<%= user.pic %>'/>
  <p>favorite count:</p>
  <p>link to favorites list / map</p>
</div>
<%= console.log('template user', user.id) %>
